@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Html.Partial("~/Views/Shared/_Head.cshtml")
    @Html.Partial("~/Views/Shared/QuillEditor.cshtml")
</head>
<body>
    <div id="App" >
        <quill-editor style="height:500px;width:500px" >

        </quill-editor>
    </div>
</body>
</html>
<script>
    $vue = new Vue({
        el: "#App"
    });
  
</script>
