@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Html.Partial("~/Views/Shared/_Head.cshtml")
    @Html.Partial("~/Views/Shared/SingleFileUploader.cshtml")
</head>
<body>
    <div id="App">
       <single-file-uploader :filepath.sync="fp" :filename.sync="fn" accept="image/*">

       </single-file-uploader>
        <button type="button" @@click="ck">aaaasdas</button>
    </div>
   
</body>
</html>
<script>
    $vue = new Vue({
        el: "#App",
        data: {
            content: "",
            fp: "",
            fn:""
        },
        methods: {
            ck: function () {
                alert(this.fp);
                alert(this.fn);
            }
        }
    });
</script>
