@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Html.Partial("~/Views/Shared/_Head.cshtml")
    @Html.Partial("~/Views/Shared/QuillEditor.cshtml")
</head>
<body>
    <div id="App" >
        <quill-editor ref="editor" :onlyshow="true" style="height:300px;width:500px" :content.sync="content">

        </quill-editor>
        <div style="clear:both"></div>
        <button type="button"  @@click="ck">aaaasdas</button>
    </div>
</body>
</html>
<script>
    $vue = new Vue({
        el: "#App",
        data: {
            content: ""
        },
        methods: {
            ck: function () {
                alert(this.content);
                alert(this.$refs.editor.getText());
            }
        }
    });
    setInterval($vue.$refs.editor.editorBlur, 2000);
</script>
