
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>资产评估报告</title>
    @Html.Partial("~/Views/Shared/_Head.cshtml")
    @Html.Partial("~/Views/Shared/SingleFileUploader.cshtml")
    <style>
    </style>
</head>
<body>
    <div id="App" ref="App" v-loading="Loading.bodyLoading">
        <template>
            <div ref="QueryFormDiv">
                <el-form :model="QueryFormData" :inline="true" class="Query_Form" ref="QueryForm" @@submit.native.prevent label-width="80px">
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="报告编号" prop="ReportCode">
                                <el-input v-model="QueryFormData.ReportCode" placeholder="请输入报告编号"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="项目名称" prop="ReportName">
                                <el-input v-model="QueryFormData.ReportName" placeholder="请输入项目名称"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                            <el-form-item label="报告类型" prop="ReportType">
                                <el-select v-model="QueryFormData.ReportType"
                                           placeholder="请选择报告类型"
                                           :clearable="true"
                                           multiple
                                           collapse-tags>
                                    <el-option key="Formal"
                                               label="正式"
                                               value="Formal">
                                    </el-option>
                                    <el-option key="PreAssessment"
                                               label="预评"
                                               value="PreAssessment">
                                    </el-option>
                                    <el-option key="Consultation"
                                               label="咨询"
                                               value="Consultation">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                      
                    </el-row>
                    <el-row>
                        <el-col :span="8">
                            <el-form-item label="收费状态" prop="ChargeStatus">
                                <el-select v-model="QueryFormData.ChargeStatus"
                                           placeholder="请选择收费状态"
                                           :clearable="true"
                                           multiple
                                           collapse-tags>
                                    <el-option key="true"
                                               label="已收费"
                                               :value="true">
                                    </el-option>
                                    <el-option key="false"
                                               label="未收费"
                                               :value="false">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="8">
                           &nbsp;
                        </el-col>
                        <el-col :span="8">
                            <el-button type="primary" @@click="onQuery" icon="el-icon-search">查询</el-button>
                            <el-button type="primary" @@click="resetQueryForm" icon="el-icon-refresh">重置</el-button>
                        </el-col>
                      
                    </el-row>
                </el-form>
                <el-row class="Table_Button_Row">
                    <el-col :span="24">
                        <el-button type="primary" v-if="ActionPermission.Add" ref="btnAdd" @@click="openAddDialog" icon="icon iconfont icon-file-add">新增</el-button>
                        <el-button type="primary" v-if="ActionPermission.Detail" :disabled="ButtonState.btnDetail" ref="btnDetail" @@click="openDetailDialog" icon="icon iconfont icon-eye">详细</el-button>
                    </el-col>
                </el-row>
            </div>
            <el-table ref="dataTable"
                      :data="tableData"
                      :border="true"
                      :height="tableHeight"
                      @@selection-change="selectChange"
                      @@row-click="rowClick"
                      style="width: 100%;margin-top:20px;"
                      element-loading-text="拼命加载中"
                      element-loading-spinner="el-icon-loading"
                      element-loading-background="rgba(200, 200,200, 0.5)"
                      v-loading="Loading.tableLoading">
                <el-table-column type="index"
                                 :index="showIdex"
                                 label=" ">
                </el-table-column>
                <el-table-column type="selection"
                                 width="50">
                </el-table-column>
                <el-table-column prop="ReportCode"
                                 label="报告编号"
                                 width="150">
                </el-table-column>
                <el-table-column prop="ReportName"
                                 label="项目名称"
                                 width="150">
                </el-table-column>
                <el-table-column prop="ReportTypeString"
                                 label="报告类型"
                                 width="100">
                    <template slot-scope="scope">
                        {{ Dic.ReportType[scope.row.ReportTypeString] }}
                    </template>
                </el-table-column>
                <el-table-column prop="ReportEntruster"
                                 label="报告委托方"
                                 width="100">
                </el-table-column>
                <el-table-column prop="ReportUser"
                                 label="报告使用方"
                                 width="100">
                </el-table-column>
                <el-table-column prop="SignAppraiserName"
                                 label="签字估价师"
                                 width="300">
                    <template slot-scope="scope">
                        <el-tag style="margin-left:10px;" v-for="SName in scope.row.SignAppraiserName" :key="SName">{{SName}}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column prop="Salesman"
                                 label="业务员"
                                 width="100">
                </el-table-column>
                <el-table-column prop="AuditStatus"
                                 label="状态"
                                 width="100">
                    <template slot-scope="scope">
                        {{ Dic.AuditStatus[scope.row.ReportStatusString] }}
                    </template>
                </el-table-column>
                <el-table-column prop="SubmitTime"
                                 label="创建时间"
                                 width="200">
                    <template slot-scope="scope">
                        {{ DateFormat(scope.row.SubmitTime,'yyyy-MM-dd HH:mm:ss') }}
                    </template>
                </el-table-column>
                <el-table-column v-if="QueryFormData.ListType!='Personal'"
                                 prop="CreateUserName"
                                 label="发起人员"
                                 width="100">
                </el-table-column>
                <el-table-column v-if="QueryFormData.ListType!='Personal'"
                                 prop="CreateDepName"
                                 label="发起部门"
                                 width="100">
                </el-table-column>
                <el-table-column prop="ext"
                                 label="报告文件"
                                 width="80">
                    <template slot-scope="scope">
                        <el-button type="success" size="small" @@click="DownloadReportFile(scope.row.Id)" round>下载</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div ref="Pagination">
                <el-pagination @@size-change="handleSizeChange"
                               @@current-change="handleCurrentChange"
                               :current-page.sync="QueryFormData.Page"
                               :page-size.sync="QueryFormData.PageSize"
                               :page-sizes="PaginationData.pageSizes"
                               layout="total, sizes, prev, pager, next, jumper"
                               :total="PaginationData.total"
                               style="width:100%;padding-left:20px;box-sizing:border-box">
                </el-pagination>
            </div>
            <el-dialog :close-on-click-modal="false" :title="modifyTitle"
                       :visible.sync="Dialog.addDialog" top="50px">
                <el-form :model="AddFormData" :rules="AddFormRule" label-width="120px" ref="AddForm" @@submit.native.prevent>
                    <el-tabs v-model="TabName">
                        <el-tab-pane name="first" label="报告信息" :style="{height:panelHeight+'px',overflow:'auto',paddingRight:'10px'}">
                            <el-form-item label="报告类型" prop="ReportType">
                                <el-radio v-model="AddFormData.ReportType" label="Formal" :disabled="AddFormData.ReportType!='Formal'&&!Dialog.IsAdd" border>正式</el-radio>
                                <el-radio v-model="AddFormData.ReportType" label="PreAssessment" :disabled="AddFormData.ReportType!='PreAssessment'&&!Dialog.IsAdd" border>预评</el-radio>
                                <el-radio v-model="AddFormData.ReportType" label="Consultation" :disabled="AddFormData.ReportType!='Consultation'&&!Dialog.IsAdd" border>咨询</el-radio>
                            </el-form-item>
                            <el-form-item label="报告编号" prop="ReportCode">
                                <el-input v-model="AddFormData.ReportCode" :readonly="Dialog.IsDetail" placeholder="请输入报告编号" @@blur="ReportCodeBlur"></el-input>
                            </el-form-item>
                            <el-form-item label="项目名称" prop="ReportName">
                                <el-input v-model="AddFormData.ReportName" :readonly="Dialog.IsDetail" placeholder="请输入项目名称"></el-input>
                            </el-form-item>
                            <div style="margin-bottom:20px;border-top:1px solid #dcdfe6;"></div>
                            <el-form-item label="报告委托方" prop="ReportEntruster">
                                <el-input v-model="AddFormData.ReportEntruster" :readonly="Dialog.IsDetail" placeholder="请输入报告委托方"></el-input>
                            </el-form-item>
                            <el-form-item label="报告使用方" prop="ReportUser">
                                <el-input v-model="AddFormData.ReportUser" :readonly="Dialog.IsDetail" placeholder="请输入报告使用方"></el-input>
                            </el-form-item>
                            <div style="margin-bottom:20px;border-top:1px solid #dcdfe6;"></div>
                            <el-form-item label="权利人" prop="Obligee">
                                <el-input v-model="AddFormData.Obligee" :readonly="Dialog.IsDetail" placeholder="请输入权利人"></el-input>
                            </el-form-item>
                            <el-form-item label="坐落地址" prop="LocationAddress">
                                <el-input v-model="AddFormData.LocationAddress" :readonly="Dialog.IsDetail" placeholder="请输入坐落地址"></el-input>
                            </el-form-item>
                            <el-form-item label="房产证号" prop="HouseNumber">
                                <el-input v-model="AddFormData.HouseNumber" :readonly="Dialog.IsDetail" placeholder="请输入房产证号"></el-input>
                            </el-form-item>
                            <el-form-item label="建筑面积" prop="BuildArea">
                                <el-input v-model="AddFormData.BuildArea" :readonly="Dialog.IsDetail" placeholder="请输入建筑面积">
                                    <template slot="append">
                                        m²
                                    </template>
                                </el-input>
                            </el-form-item>
                            <el-form-item label="土地证号" prop="LandNumber">
                                <el-input v-model="AddFormData.LandNumber" :readonly="Dialog.IsDetail" placeholder="请输入土地证号"></el-input>
                            </el-form-item>
                            <el-form-item label="土地面积" prop="LandArea">
                                <el-input v-model="AddFormData.LandArea" :readonly="Dialog.IsDetail" placeholder="请输入土地面积">
                                    <template slot="append">
                                        m²
                                    </template>
                                </el-input>
                            </el-form-item>
                            <el-form-item label="评估单价" prop="ValuationPrice">
                                <el-input v-model="AddFormData.ValuationPrice" :readonly="Dialog.IsDetail" placeholder="请输入评估单价">
                                    <template slot="append">
                                        元/m²
                                    </template>
                                </el-input>
                            </el-form-item>
                            <el-form-item label="评估价值" prop="ValuationValue">
                                <el-input v-model="AddFormData.ValuationValue" :readonly="Dialog.IsDetail" placeholder="请输入评估价值">
                                    <template slot="append">
                                        万元
                                    </template>
                                </el-input>
                            </el-form-item>
                            <el-form-item label="估价对象用途" prop="ValuationPurpose">
                                <el-input v-model="AddFormData.ValuationPurpose" :readonly="Dialog.IsDetail" placeholder="请输入估价对象用途"></el-input>
                            </el-form-item>
                            <el-form-item label="估价对象结构" prop="ValuationStruct">
                                <el-input v-model="AddFormData.ValuationStruct" :readonly="Dialog.IsDetail" placeholder="请输入估价对象结构"></el-input>
                            </el-form-item>
                            <el-form-item label="估价目的" prop="ValuationObjective">
                                <el-select v-model="AddFormData.ValuationObjective"
                                           placeholder="请选择估价目的"
                                           :clearable="true"
                                           multiple
                                           :collapse-tags="!Dialog.IsDetail"
                                           :disabled="Dialog.IsDetail">
                                    <el-option v-for="item in SelectOption.ValuationObjectiveList"
                                               :key="item.Id"
                                               :label="item.ItemDesc"
                                               :value="item.Id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="估价方法" prop="ValuationMethods">
                                <el-select v-model="AddFormData.ValuationMethods"
                                           placeholder="请选择估价方法"
                                           :clearable="true"
                                           multiple
                                           :collapse-tags="!Dialog.IsDetail"
                                           :disabled="Dialog.IsDetail">
                                    <el-option v-for="item in SelectOption.ValuationMethodsList"
                                               :key="item.Id"
                                               :label="item.ItemDesc"
                                               :value="item.Id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="价值时点" prop="ValueTime">
                                <el-date-picker v-model="AddFormData.ValueTime"
                                                type="datetime"
                                                placeholder="选择日期时间"
                                                :clearable="true"
                                                :readonly="Dialog.IsDetail">
                                </el-date-picker>
                            </el-form-item>
                            <el-form-item label="报告日期" prop="ReportTime">
                                <el-date-picker v-model="AddFormData.ReportTime"
                                                type="datetime"
                                                placeholder="报告日期"
                                                :clearable="true"
                                                :readonly="Dialog.IsDetail">
                                </el-date-picker>
                            </el-form-item>
                            <el-form-item label="签字估价师" prop="SignAppraiser">
                                <el-select v-model="AddFormData.SignAppraiser"
                                           placeholder="请选择签字估价师"
                                           :clearable="true"
                                           multiple
                                           :collapse-tags="!Dialog.IsDetail"
                                           :disabled="Dialog.IsDetail">
                                    <el-option v-for="item in SelectOption.EmpList"
                                               :key="item.RelateUserId"
                                               :label="item.EmpName"
                                               :value="item.RelateUserId">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="报告描述" prop="ReportDesc">
                                <el-input v-model="AddFormData.ReportDesc" type="textarea" :readonly="Dialog.IsDetail" placeholder="请输入报告描述"></el-input>
                            </el-form-item>
                        </el-tab-pane>
                        <el-tab-pane label="工作内容" :style="{height:panelHeight+'px',overflow:'auto',paddingRight:'10px'}">
                            <el-form-item label="工作名称" prop="WorkName">
                                <el-input v-model="AddFormData.WorkName" :readonly="Dialog.IsDetail" placeholder="请输入工作名称"></el-input>
                            </el-form-item>
                            <el-form-item label="工作描述" prop="WorkDesc">
                                <el-input v-model="AddFormData.WorkDesc" type="textarea" :readonly="Dialog.IsDetail" placeholder="请输入工作描述"></el-input>
                            </el-form-item>
                            <el-form-item label="附件" prop="EnclosureName">
                                <single-file-uploader :filename.sync="AddFormData.EnclosureName"
                                                      :filepath.sync="AddFormData.EnclusurePath"
                                                      :isread="Dialog.IsDetail"
                                                      placeholder="请选择附件"></single-file-uploader>
                            </el-form-item>
                        </el-tab-pane>
                        <el-tab-pane label="业务信息" :style="{height:panelHeight+'px',overflow:'auto',paddingRight:'10px'}">
                            <el-form-item label="经办人" prop="Operator">
                                <el-input v-model="AddFormData.Operator" :readonly="Dialog.IsDetail" placeholder="请输入经办人"></el-input>
                            </el-form-item>
                            <el-form-item label="业务员" prop="Salesman">
                                <el-input v-model="AddFormData.Salesman" :readonly="Dialog.IsDetail" placeholder="请输入业务员"></el-input>
                            </el-form-item>
                            <div style="margin-bottom:20px;border-top:1px solid #dcdfe6;"></div>
                            <el-form-item label="联系人" prop="Contacts">
                                <el-input v-model="AddFormData.Contacts" :readonly="Dialog.IsDetail" placeholder="请输入联系人"></el-input>
                            </el-form-item>
                            <el-form-item label="联系电话" prop="ContactsPhone">
                                <el-input v-model="AddFormData.ContactsPhone" :readonly="Dialog.IsDetail" placeholder="请输入联系电话"></el-input>
                            </el-form-item>
                            <el-form-item label="收费状态" prop="ChargeStatus">
                                <el-radio v-model="AddFormData.ChargeStatus" :label="true" :disabled="!AddFormData.ChargeStatus" border>已收费</el-radio>
                                <el-radio v-model="AddFormData.ChargeStatus" :label="false" :disabled="AddFormData.ChargeStatus" border>未收费</el-radio>
                            </el-form-item>
                            <el-form-item label="收费金额" prop="ChargeAmount">
                                <el-input v-model="AddFormData.ChargeAmount" :readonly="Dialog.IsDetail" placeholder="请输入收费金额"></el-input>
                            </el-form-item>
                            <el-form-item label="是否开票" prop="IsInvoice">
                                <el-radio v-model="AddFormData.IsInvoice" :label="true" :disabled="!AddFormData.IsInvoice" border>是</el-radio>
                                <el-radio v-model="AddFormData.IsInvoice" :label="false" :disabled="AddFormData.IsInvoice" border>否</el-radio>
                            </el-form-item>
                        </el-tab-pane>
                        <el-tab-pane label="审核信息" :style="{height:panelHeight+'px',overflow:'auto',paddingRight:'10px'}">
                            <el-form-item label="审核部门" prop="AuditDep">
                                <el-select v-model="AddFormData.AuditDep"
                                           placeholder="请选择审核部门"
                                           :clearable="true"
                                           multiple
                                           :collapse-tags="!Dialog.IsDetail"
                                           :disabled="Dialog.IsDetail">
                                    <el-option v-for="item in SelectOption.DepList"
                                               :key="item.Id"
                                               :label="item.DepName"
                                               :value="item.Id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="审核人" prop="AuditUserIds">
                                <el-select v-model="AddFormData.AuditUserIds"
                                           placeholder="请选择审核人"
                                           :clearable="true"
                                           multiple
                                           :collapse-tags="!Dialog.IsDetail"
                                           :disabled="Dialog.IsDetail">
                                    <el-option v-for="item in SelectOption.EmpList"
                                               :key="item.RelateUserId"
                                               :label="item.EmpName"
                                               :value="item.RelateUserId">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-tab-pane>
                        <el-tab-pane label="审核结果" v-if="Dialog.IsShowEditResult" :style="{height:panelHeight+'px',overflow:'auto',paddingRight:'10px'}">
                            <el-form-item label="审核人" prop="AuditUserName">
                                <el-input readonly v-model="AddFormData.AuditUserName" placeholder=""></el-input>
                            </el-form-item>
                            <el-form-item label="审核结果" prop="ReportStatus">
                                <el-radio-group v-model="AddFormData.ReportStatus">
                                    <el-radio label="Passed" :disabled="AddFormData.ReportStatus!='Passed'" border>通过</el-radio>
                                    <el-radio label="Reject" :disabled="AddFormData.ReportStatus!='Reject'" border>驳回</el-radio>
                                </el-radio-group>
                            </el-form-item>
                            <el-form-item label="审核文件" prop="AuditFilePath">
                                <single-file-uploader :filename.sync="AddFormData.AuditFileName"
                                                      :filepath.sync="AddFormData.AuditFilePath"
                                                      placeholder=""
                                                      :isread="true"></single-file-uploader>
                            </el-form-item>
                            <el-form-item label="审核理由" prop="AuditReason">
                                <el-input v-model="AddFormData.AuditReason" readonly type="textarea" placeholder=""></el-input>
                            </el-form-item>
                        </el-tab-pane>
                        <el-tab-pane label="二维码" v-if="AddFormData.ReportStatus=='Passed'" :style="{height:panelHeight+'px',overflow:'auto'}">
                            <div style="text-align:center;padding-top:20px;">
                                <img :src="'/Base/GetReportQRCode?ReportId='+AddFormData.Id+'&ControllerName=HouseReport'" />
                            </div>
                        </el-tab-pane>
                    </el-tabs>
                    
                </el-form>
                <span slot="footer" class="dialog-footer" v-if="!Dialog.IsDetail">
                    <el-button type="primary" @@click="submitAddForm">提 交</el-button>
                    <el-button @@click="saveReprotData">保 存</el-button>
                </span>
                <span slot="footer" class="dialog-footer" v-if="Dialog.IsDetail">
                    <el-button @@click="cancelAddForm">关闭</el-button>
                </span>
            </el-dialog>
        </template>
    </div>
</body>
</html>
<script>
    var lastAddFormData = null;
    $vue = new Vue({
        el: "#App",
        data: {
            QueryFormData: {
                LeaseIds:[],
                AuditStatus: [],
                AuditUserName: "",
                CreateBeginTime: "",
                CreateEndTime: "",
                AuditBeginTime: "",
                AuditEndTime:"",
                ListType:"Personal",
                Page: 1,
                PageSize: 10,
            },
            tableData: [],
            tableHeight: 500,
            ButtonState: {
                btnEdit: true,
                btnDetail: true,
                btnDelete: true
            },
            Dialog: {
                addDialog: false,
                editDialog: false,
                IsDetail: false, 
                IsShowEditResult: false,
                IsAdd: false
            },
            AddFormData: {
                Id: null,
                ReportCode: "",
                ReportName: "",
                ReportEntruster:"",
                ReportUser: "",
                Obligee: "",
                LocationAddress: "",
                HouseNumber: "",
                BuildArea: "",
                LandNumber: "",
                LandArea: "",
                ValuationPrice: "",
                ValuationValue: "",
                ValuationPurpose: "",
                ValuationStruct: "",
                ValueTime: "",
                ReportTime: "",
                ReportDesc: "",
                WorkName: "",
                WorkDesc: "",
                EnclosureName: "",
                EnclusurePath: "",
                Operator: "",
                Salesman: "",
                Contacts: "",
                ContactsPhone: "",
                ChargeAmount: "",
                ChargeStatus: true,
                IsInvoice: true,
                ReportType: "Formal",
                ValuationObjective: [],
                ValuationMethods: [],
                SignAppraiser: [],
                AuditDep: [],
                AuditUserIds: [],
                AuditUserName: "",
                AuditReason: "",
                AuditFileName: "",
                AuditFilePath: "",
                ReportStatus:"",
                ReportStatusString:""
            },
            AddFormRule: {
                ReportCode: [
                    { required: true, message: '请填写报告编号', trigger: 'change' },
                    { max: 25, message: '长度不能超过25个字符', trigger: 'change' }
                ],
                ReportName: [
                    { required: true, message: '请填写项目名称', trigger: 'change' },
                    { max: 25, message: '长度不能超过25个字符', trigger: 'change' }
                ],
                ReportEntruster: [
                    { required: true, message: '请填写报告委托方', trigger: 'change' },
                    { max: 25, message: '长度不能超过25个字符', trigger: 'change' }
                ],
                ReportUser: [
                    { required: true, message: '请填写报告使用方', trigger: 'change' },
                    { max: 25, message: '长度不能超过25个字符', trigger: 'change' }
                ],
                Obligee: [
                    { required: true, message: '请填写权利人', trigger: 'change' },
                    { max: 25, message: '长度不能超过25个字符', trigger: 'change' }
                ],
                LocationAddress: [
                    { required: true, message: '请填写坐落地址', trigger: 'change' },
                    { max: 100, message: '长度不能超过100个字符', trigger: 'change' }
                ],
                HouseNumber: [
                    { required: true, message: '请填写房产证号', trigger: 'change' },
                    { max: 50, message: '长度不能超过50个字符', trigger: 'change' }
                ],
                BuildArea: [
                    { required: true, message: '请填写建筑面积', trigger: 'change' },
                    { validator: checkNumber, trigger: 'change' }
                ],
                LandNumber: [
                    { required: true, message: '请填写土地证号', trigger: 'change' },
                    { max: 50, message: '长度不能超过50个字符', trigger: 'change' }
                ],
                LandArea: [
                    { validator: checkNumber, trigger: 'change' }
                ],
                ValuationPrice: [
                    { validator: checkNumber, trigger: 'change' }
                ],
                ValuationValue: [
                    { validator: checkNumber, trigger: 'change' }
                ],
                ValuationPurpose: [
                    { max: 25, message: '长度不能超过25个字符', trigger: 'change' }
                ],
                ValuationStruct: [
                    { max: 25, message: '长度不能超过25个字符', trigger: 'change' }
                ],
                ReportDesc: [
                    { max: 250, message: '长度不能超过250个字符', trigger: 'change' }
                ],
                WorkName: [
                    { max: 25, message: '长度不能超过25个字符', trigger: 'change' }
                ],
                WorkDesc: [
                    { max: 250, message: '长度不能超过250个字符', trigger: 'change' }
                ],
                Operator: [
                    { max: 25, message: '长度不能超过25个字符', trigger: 'change' }
                ],
                Salesman: [
                    { max: 25, message: '长度不能超过25个字符', trigger: 'change' }
                ],
                Contacts: [
                    { max: 25, message: '长度不能超过25个字符', trigger: 'change' }
                ],
                ContactsPhone: [
                    { max: 25, message: '长度不能超过25个字符', trigger: 'change' }
                ],
                ChargeAmount: [
                    { validator: checkNumber, trigger: 'change' }
                ],
                ChargeStatus: [
                    { required: true, message: '请选择收费状态', trigger: 'change' }
                ],
                IsInvoice: [
                    { required: true, message: '请选择是否开票', trigger: 'change' }
                ],
                ReportType: [
                    { required: true, message: '请选择报告类型', trigger: 'change' }
                ],
                AuditDep:[
                    { validator: checkAuditId, trigger: 'change' }
                ],
                AuditUserIds: [
                    { validator: checkAuditId, trigger: 'change' }
                ]
            },
            Loading: {
                bodyLoading: false,
                tableLoading: false
            },
            SelectOption: {
                AuditStatus: [
                    { Value: "WaitAudit", Text: "待审核" },
                    { Value: "Passed", Text: "审核通过" },
                    { Value: "Reject", Text: "驳回" },
                    { Value: "Revoke", Text: "撤销" }
                ],
                ValuationObjectiveList: [],
                ValuationMethodsList: [],
                ChargeStatusList:[],
                DepList: [],
                EmpList:[]
            },
            PaginationData: {
                pageSizes: [10, 20, 50, 100],
                total: 0
            },
            PaginationFilter: {
            },
            ActionPermission: {
                Add: false,
                Detail: false
            } ,
            modifyTitle: "",
            Dic: {
                AuditStatus: {
                    WaitAudit: "待审核",
                    Passed: "审核通过",
                    Reject: "驳回",
                    Revoke: "撤销"
                },
                ReportType: {
                    Formal: "正式",
                    PreAssessment: "预评",
                    Consultation: "咨询",
                }
            },
            TabName: "first",
            panelHeight:200
        },
        methods: {
            onQuery: function () {
                this.QueryFormData.Page = 1;
                this.PaginationFilter = JSON.parse(JSON.stringify(this.QueryFormData));
                getList();
            },
            showIdex: function (index) {
                return (this.QueryFormData.Page - 1) * this.QueryFormData.PageSize + 1 + index;
            },
            resetQueryForm: function () {
                this.$refs.QueryForm.resetFields();
            },
            openAddDialog: function () {
                this.modifyTitle = "新增报告";
                this.TabName = "first";
                $vue.Loading.bodyLoading = true;
                $vue.Dialog.IsDetail = false;
                $vue.Dialog.IsShowEditResult = false;
                $vue.Dialog.IsAdd = true;
                setTimeout(function () { $vue.$refs.AddForm.clearValidate(); }, 500);
                axios.post("GetUserCreateReport").then(function (response) {
                    AutoMapper($vue.AddFormData, response.data);
                    $vue.Dialog.addDialog = true;
                }).catch(function (error) {
                    ErrorCommonHandle($vue);
                }).finally(function () {
                    $vue.Loading.bodyLoading = false;
                });
            },
            openDetailDialog: function () {
                this.TabName = "first";
                $vue.Loading.bodyLoading = true;
                $vue.Dialog.IsAdd = false;
                this.modifyTitle = "查看报告";
                axios.post("GetRoportModel", { id: this.$refs.dataTable.selection[0].Id}).then(function (response) {
                    AutoMapper($vue.AddFormData, response.data);
                    $vue.Dialog.IsShowEditResult = true;
                    if ($vue.AddFormData.ReportStatusString == "Reject") {
                        $vue.Dialog.IsDetail = false;
                    }
                    else {
                        $vue.Dialog.IsDetail = true;
                    }
                    $vue.Dialog.addDialog = true;
                    setTimeout(function () { $vue.$refs.AddForm.clearValidate(); }, 500);
                }).catch(function (error) {
                    ErrorCommonHandle($vue);
                }).finally(function () {
                    $vue.Loading.bodyLoading = false;
                });
            },
            submitAddForm: function () {
                this.$refs.AddForm.validate(function (success, validateobj) {
                    if (success) {
                        $vue.Loading.bodyLoading = true;
                        axios.post("SubmitReport", $vue.AddFormData).then(function (response) {
                            ActionCommonHandle(response.data, $vue, "提交成功", "提交失败", getList());
                        }).catch(function (error) {
                            ErrorCommonHandle($vue);
                        }).finally(function () {
                            $vue.Loading.bodyLoading = false;
                            $vue.Dialog.addDialog = false;
                        });
                    }
                });
            },
            cancelAddForm: function () {
                this.Dialog.addDialog = false;
            },
            selectChange: function (selectValue) {
                if (this.$refs.dataTable.selection.length == 0) {
                    this.ButtonState.btnDetail = true;
                }
                else if (this.$refs.dataTable.selection.length == 1) {
                    this.ButtonState.btnDetail = false;
                }
                else {
                    this.ButtonState.btnDetail = true;
                }
            },
            rowClick: function (row, event, column) {
                this.$refs.dataTable.toggleRowSelection(row);
            },
            handleSizeChange: function (val) {
                if (this.QueryFormData.Page > (this.PaginationData.total / val + 1)) {
                    return;
                }
                this.PaginationFilter.Page = this.QueryFormData.Page;
                this.PaginationFilter.PageSize = val;
                getList(this.PaginationFilter);
            },
            handleCurrentChange: function (val) {
                this.PaginationFilter.Page = val;
                this.PaginationFilter.PageSize = this.QueryFormData.PageSize;
                getList(this.PaginationFilter);
            },
            closeAddDialog: function (done) {
                done();
            },
            ReportCodeBlur: function (value) {
                if (this.AddFormData.ReportType == "PreAssessment" && this.AddFormData.ReportCode.substr(0,1)!="预") {
                    this.AddFormData.ReportCode = "预"+this.AddFormData.ReportCode;
                }
            },
            saveReprotData: function () {
                axios.post("SaveReport", $vue.AddFormData);
                this.Dialog.addDialog = false;
            } ,
            DateFormat: DateFormat,
            DownloadReportFile: function (reportId) {
                window.open("DownloadReportFile?reportId=" + reportId);
            }
        }

    });

    function getList(filter) {
        if (filter == null) {
            filter = $vue.QueryFormData;
        }
        $vue.$refs.dataTable.clearSelection();
        $vue.ButtonState.btnEdit = true;
        $vue.ButtonState.btnDelete = true;
        $vue.Loading.tableLoading = true;
        axios.post("GetList", filter).then(function (response) {
            $vue.Loading.tableLoading = false;
            $vue.tableData = response.data.List;
            $vue.PaginationData.total = response.data.Total;
        }).catch(function (error) {
            $vue.Loading.tableLoading = false;
            $vue.tableData = [];
            $vue.PaginationData.total = 0;
            $vue.$message({
                type: 'error',
                message: '服务器出错'
            });
        });
    }


    axios.post("/Employee/GetUserEmp", {}).then(function (response) {
        $vue.SelectOption.EmpList = response.data;
    }).catch(function (error) {
        console.log(error);
        });

    axios.post("/Department/GetAllDep", {}).then(function (response) {
        $vue.SelectOption.DepList = response.data;
    }).catch(function (error) {
        console.log(error);
        });
    axios.post("/Dictionary/GetGroupItemList", { groupCode: "ValuationObjective" }).then(function (response) {
        $vue.SelectOption.ValuationObjectiveList = response.data;
    }).catch(function (error) {
        console.log(error);
        });
    axios.post("/Dictionary/GetGroupItemList", { groupCode: "ValuationMethods" }).then(function (response) {
        $vue.SelectOption.ValuationMethodsList = response.data;
    }).catch(function (error) {
        console.log(error);
        });
    axios.post("/Dictionary/GetGroupItemList", { groupCode: "ChargeStatus" }).then(function (response) {
        $vue.SelectOption.ChargeStatusList = response.data;
    }).catch(function (error) {
        console.log(error);
    });

    function autoSave() {
        if ($vue.Dialog.IsDetail) {
            return;
        }
        if (lastAddFormData == null) {
            lastAddFormData = JSON.stringify($vue.AddFormData);
        }
        if (lastAddFormData != JSON.stringify($vue.AddFormData) && $vue.Dialog.addDialog) {
            lastAddFormData = JSON.stringify($vue.AddFormData);
            axios.post("SaveReport", $vue.AddFormData);
        }
    }

    function checkAuditId(rule, value, callback) {
        $vue.$refs.AddForm.clearValidate(["AuditDep", "AuditUserIds"]);
        if ($vue.AddFormData.AuditDep.length == 0 && $vue.AddFormData.AuditUserIds.length == 0) {

            callback(new Error("请选择审核人或者审核部门！"));
        }
        else {
            callback();
        }

    }

    setInterval(autoSave, 5000);

    window.onresize = function () {
        $vue.tableHeight = $vue.$refs.App.getBoundingClientRect().height -
            $vue.$refs.QueryFormDiv.getBoundingClientRect().height -
            $vue.$refs.Pagination.getBoundingClientRect().height - 20;
        $vue.panelHeight = $vue.$refs.App.getBoundingClientRect().height - 350;
    }
    getList();

    GetActionAuthorize($vue);
</script>