
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Html.Partial("~/Views/Shared/_Head.cshtml")
    <style>
        #calendarDiv {
            width: 538px;
            height: 370px;
            overflow: hidden;
            border: 0px;
            float: left;
        }

        #calendar {
            border: 0;
            width: 1000px;
            height: 1000px;
            left: -121px;
            top: -138px;
            position: relative;
        }

        #calenderRight {
            float: left;
            width: calc(100% - 538px);
            height: 370px;
        }
        .msg-card {
            width: calc(40% - 8px);
            float: left;
            height: 368px;
            margin-left:5px;
        }

        .things-card {
            width: calc(60% - 15px);
            float: left;
            height: 368px;
            margin-left: 5px;
        }
        #noticeDiv {
            width: 100%;
            height: calc(100% - 375px);
            float: left;
            margin-top:5px;
        }
        .notice-card {
            height: calc(100% - 8px);
            width: calc(100% - 11px);
        }
        .NotDiv {
            padding-left: 40px;
            padding-right: 40px;
            margin-top: 15px;
            cursor:pointer;
        }
            .NotDiv:hover {
                color: #409EFF;
            }
        .More {
            float: right;
            margin-right: 20px;
            cursor: pointer;
        }
            .More:hover {
                color: #409EFF;
            }

        .TodoDiv {
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 15px;
            word-wrap: break-word;
            word-break:break-all;
        }
        
    </style>
</head>
<body>
    <div id="App">
        <div id="calendarDiv">
            <iframe id="calendar" ref="Calendar" scrolling="no" src="https://www.baidu.com/s?wd=%E6%97%A5%E5%8E%86"></iframe>
        </div>
        <div id="calenderRight">
            <el-card class="msg-card">
                <div slot="header" class="clearfix">
                    <span>消息列表</span>
                </div>
            </el-card>
            <el-card class="things-card">
                <div slot="header" class="clearfix">
                    <span>代办事项</span>
                    <div class="More" @@click="OpenTab('','/ThingsTodo/Index')">更多>></div>
                </div>
                <template>
                    <div style="height:280px;overflow:auto;">
                        <div class="TodoDiv" v-for="todo in WeekThingsTodo">
                            <div>{{DateFormat(todo.TodoDate,'yyyy-MM-dd')}}</div>
                            <div>{{todo.TodoThings}}</div>
                            <hr style="margin-top:5px;" />
                        </div>
                        
                    </div>
                </template>
            </el-card>
        </div>
        <div id="noticeDiv">
            <el-card class="notice-card">
                <div slot="header" class="clearfix">
                    <span>公司公告</span>
                    <div class="More" @@click="OpenTab('','/Notice/Index')">更多>></div>
                </div>
                <template v-for="not in NoticeList">
                    <div class="NotDiv" @@click="OpenTab('公告详情','/Notice/NoticeDetail?id='+not.Id)">
                        <div style="float:left">{{not.NoticeTitle}}</div>
                        <div style="float:right">{{DateFormat(not.CreateTime,'yyyy-MM-dd HH:mm:ss')}}</div>
                        <div style="clear:both;"></div>
                    </div>
                  
                    <hr style="margin-top:5px;" />
                </template>
            </el-card>
        </div>
    </div>
</body>
</html>
<script>
    var $vue= new Vue({
        el: "#App",
        data: {
            NoticeList: [],
            WeekThingsTodo:[]
        },
        methods: {
            OpenTab: AddTabPage,
            DateFormat: DateFormat
        }
    })

    axios.post("/Notice/GetNotList", { Page: 1, PageSize: 5 }).then(function (response) {
            $vue.NoticeList=response.data.List;
    });
    axios.post("GetWeekThingsTodo").then(function (response) {
        $vue.WeekThingsTodo = response.data;
    });
    axios.post("GetDailyThingsTodo").then(function (response) {
        response.data.forEach(function (v, i) {
            setTimeout(function () {
                top.$app.$notify({
                    title: '提示',
                    message: top.$app.$createElement('div', { style: 'color: teal; word-wrap: break-word;width:250px;word-break:break-all' },'今日代办事项：' + v.TodoThings),
                    duration: 0,
                    type: 'info'
                });
                axios.post("DailyAlert", { id:v.Id});
            }, 0);
        });
    });
</script>
