* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Microsoft YaHei';
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

#App {
    height:100%;
}
.Table_Button_Row {
    margin-top:5px;
    padding-left:20px;
    padding-right:5px;
    box-sizing:border-box;
}
.Query_Form {
    padding: 20px;
    padding-bottom: 0;
    box-sizing: border-box;
}
.el-loading-mask {
    z-index: 4999;
}
